[Unit]
Description=noutube poll
After=network.target

[Service]
ExecStart=/usr/bin/docker run --network host --rm noutube bundle exec rake noutube:poll
