// theming

$solarized: (
  base03:   #002b36,
  base02:   #073642,
  base01:   #586e75,
  base00:   #657b83,
  base0:    #839496,
  base1:    #93a1a1,
  base2:    #eee8d5,
  base3:    #fdf6e3,
  _yellow:  #b58900,
  _orange:  #cb4b16,
  _red:     #dc322f,
  _magenta: #d33682,
  _violet:  #6c71c4,
  _blue:    #268bd2,
  _cyan:    #2aa198,
  _green:   #859900
);

$themes: (
  light: (
    bg: map-get($solarized, base3),
    bg-hi: map-get($solarized, base2),
    sec: map-get($solarized, base1),
    pri: map-get($solarized, base00),
    emph: map-get($solarized, base01),
    link: map-get($solarized, _violet),
    bar: map-get($solarized, _blue),
    invert: invert(100%)
  ),
  dark: (
    bg: map-get($solarized, base03),
    bg-hi: map-get($solarized, base02),
    sec: map-get($solarized, base01),
    pri: map-get($solarized, base0),
    emph: map-get($solarized, base1),
    link: map-get($solarized, _violet),
    bar: map-get($solarized, _blue),
    invert: invert(0%)
  )
);

@mixin theme($properties, $self: false) {
  @each $name, $theme in $themes {
    #{selector-self($self, '.theme--#{$name}')} {
      @each $property, $key in $properties {
        #{$property}: map-get($theme, $key);
      }
    }
  }
}

@function selector-self($self, $selector) {
  @return if($self, '&#{$selector}', '#{$selector} &');
}

// override defaults

body {
  margin: 0;
  padding: 0;
}

p {
  margin: 4px 0;
}

a {
  text-decoration: none;
  @include theme((color: link));

  .title & {
    @include theme((color: emph));
    font-weight: bold;
  }
}

html,
body,
body > div {
  height: 100%;
}

// our styles

.container {
  min-height: 100%;
  @include theme((background: bg, color: pri), true);
  font-family: sans-serif;
}

.menu-bar {
  position: absolute;
  top: 0;
  right: 0;
  padding: 8px;
  @include theme((background: bar, color: bg));
  font-size: 20px;
  font-weight: bold;

  div {
    display: inline;
  }

  a {
    padding: 0 8px;
    color: inherit;

    img {
      margin: -8px 0;
      width: 24px;
      height: 24px;
      vertical-align: middle;
      @include theme((filter: invert));
    }
  }
}

.footer {
  padding: 8px;
  text-align: center;
  @include theme((color: sec));
}

.section {
  margin: 0;
  padding: 8px 16px;
  @include theme((background: bar, color: bg));
  font-size: 20px;
  font-weight: bold;
}

.message {
  padding: 8px;
  @include theme((background: bg-hi, color: emph));
}

.subscription {
  position: relative;

  > div:nth-of-type(1) {
    display: flex;
    align-items: center;
    @include theme((background: bg-hi));
    padding: 8px;
  }

  img {
    margin-right: 8px;
    width: 66px;
    height: 66px;
  }
}

.item {
  position: relative;

  > div {
    margin: 8px 0;
    padding: 0 16px;

    &:nth-of-type(1) {
      display: flex;
      align-items: center;
    }
  }

  img {
    margin-right: 8px;
    width: 106px;
    height: 60px;
  }
}

// expand hitbox while swiping so cancel can be detected
.swiping::after {
  display: block;
  position: absolute;
  top: 0;
  transform: scale(1, 2);
  z-index: 100;
  width: 100%;
  height: 100%;
  content: ' ';
}
