@import 'ember-modal-dialog/ember-modal-structure';

// theming

$black: #000;
$shadow: rgba($black, .5);

$solarized: (
  base03:   #002b36,
  base02:   #073642,
  base01:   #586e75,
  base00:   #657b83,
  base0:    #839496,
  base1:    #93a1a1,
  base2:    #eee8d5,
  base3:    #fdf6e3,
  _yellow:  #b58900,
  _orange:  #cb4b16,
  _red:     #dc322f,
  _magenta: #d33682,
  _violet:  #6c71c4,
  _blue:    #268bd2,
  _cyan:    #2aa198,
  _green:   #859900
);

$gruvbox: (
  dark0_hard:     #1d2021,
  dark0:          #282828,
  dark0_soft:     #32302f,
  dark1:          #3c3836,
  dark2:          #504945,
  dark3:          #665c54,
  dark4:          #7c6f64,

  gray_245:       #928374,
  gray_244:       #928374,

  light0_hard:    #f9f5d7,
  light0:         #fbf1c7,
  light0_soft:    #f2e5bc,
  light1:         #ebdbb2,
  light2:         #d5c4a1,
  light3:         #bdae93,
  light4:         #a89984,

  bright_red:     #fb4934,
  bright_green:   #b8bb26,
  bright_yellow:  #fabd2f,
  bright_blue:    #83a598,
  bright_purple:  #d3869b,
  bright_aqua:    #8ec07c,
  bright_orange:  #fe8019,

  neutral_red:    #cc241d,
  neutral_green:  #98971a,
  neutral_yellow: #d79921,
  neutral_blue:   #458588,
  neutral_purple: #b16286,
  neutral_aqua:   #689d6a,
  neutral_orange: #d65d0e,

  faded_red:      #9d0006,
  faded_green:    #79740e,
  faded_yellow:   #b57614,
  faded_blue:     #076678,
  faded_purple:   #8f3f71,
  faded_aqua:     #427b58,
  faded_orange:   #af3a03
);

$themes: (
  light: (
    bg: map-get($solarized, base3),
    bg-hi: map-get($solarized, base2),
    sec: map-get($solarized, base1),
    pri: map-get($solarized, base00),
    emph: map-get($solarized, base01),
    link: map-get($solarized, _violet),
    bar: map-get($solarized, _blue),
    invert: invert(100%)
  ),
  dark: (
    bg: map-get($solarized, base03),
    bg-hi: map-get($solarized, base02),
    sec: map-get($solarized, base01),
    pri: map-get($solarized, base0),
    emph: map-get($solarized, base1),
    link: map-get($solarized, _violet),
    bar: map-get($solarized, _blue),
    invert: invert(0%)
  ),
  gruvbox-light: (
    bg: map-get($gruvbox, light0),
    bg-hi: map-get($gruvbox, light1),
    sec: map-get($solarized, dark4),
    pri: map-get($gruvbox, dark1),
    emph: map-get($gruvbox, dark0),
    link: map-get($gruvbox, neutral_yellow),
    bar: map-get($gruvbox, neutral_red),
    invert: invert(100%)
  ),
  gruvbox-dark: (
    bg: map-get($gruvbox, dark0),
    bg-hi: map-get($gruvbox, dark1),
    sec: map-get($solarized, light4),
    pri: map-get($gruvbox, light1),
    emph: map-get($gruvbox, light0),
    link: map-get($gruvbox, neutral_yellow),
    bar: map-get($gruvbox, neutral_red),
    invert: invert(0%)
  )
);

@mixin theme($properties, $self: false) {
  @each $name, $theme in $themes {
    #{selector-self($self, '.theme--#{$name}')} {
      @each $property, $key in $properties {
        @if length($key) == 2 {
          #{$property}: call(get-function(nth($key, 2)), map-get($theme, nth($key, 1)));
        } @else {
          #{$property}: map-get($theme, $key);
        }
      }
    }
  }
}

@function selector-self($self, $selector) {
  @return if($self, '&#{$selector}', '#{$selector} &');
}

@function half-alpha($value) {
  @return transparentize($value, .5);
}

// override defaults

body {
  margin: 0;
  padding: 0;
  @include theme((background: bg, color: pri), true);
  font-family: sans-serif;
}

p {
  margin: 4px 0;
}

a {
  text-decoration: none;
  @include theme((color: link));

  .title & {
    color: inherit;
  }
}

// our styles

.title {
  @include theme((color: emph));
  font-weight: bold;
}

.menu-bar {
  display: flex;
  position: absolute;
  top: 0;
  right: 0;
  padding: 8px;
  @include theme((background: bar, color: bg));
  font-size: 20px;
  font-weight: bold;

  > div > div {
    display: flex;
  }

  a {
    display: inline-block;
    padding: 0 8px;
    vertical-align: top;
    color: inherit;

    > svg {
      display: inline-block;
      vertical-align: top;
    }
  }
}

.footer {
  padding: 8px;
  text-align: center;
  @include theme((color: sec));
}

.section {
  margin: 0;
  padding: 8px 16px;
  @include theme((background: bar, color: bg));
  font-size: 20px;
  font-weight: bold;
}

.message {
  padding: 0 8px;
  // hack to prevent margin collapsing: https://stackoverflow.com/questions/19718634/how-to-disable-margin-collapsing
  overflow: auto;
  @include theme((background: bg-hi, color: emph));

  > p {
    margin: 8px 0;
  }
}

.subscription {
  position: relative;

  > div:nth-of-type(1) {
    display: flex;
    align-items: center;
    @include theme((background: bg-hi));
    padding: 8px;
  }

  img {
    margin-right: 8px;
    width: 66px;
    height: 66px;
  }
}

.item {
  position: relative;

  > div {
    margin: 8px 0;
    padding: 0 16px;

    &:nth-of-type(1) {
      display: flex;
      align-items: center;
    }
  }

  img {
    margin-right: 8px;
    width: 106px;
    height: 60px;
  }
}

// expand hitbox while swiping so cancel can be detected
.swiping::after {
  display: block;
  position: absolute;
  top: 0;
  transform: scale(1, 2);
  z-index: 100;
  width: 100%;
  height: 100%;
  content: ' ';
}

.ember-modal-overlay {
  &.translucent {
    @include theme((background: bg half-alpha));
  }
}

.ember-modal-dialog {
  @include theme((background: bg-hi));
  border-radius: 8px;
  box-shadow: 0 0 64px $shadow;
  padding: 8px;

  .title {
    margin-bottom: 16px;
  }
}
