<SectionHeader>NoUTube</SectionHeader>

<div class="message">
  <p>Basically a site which lets you organise the videos your YouTube subscriptions upload.</p>
  <p>Kind of like the built in "Watch Later" playlist on YouTube, but much nicer to use.</p>
  <p>You have to <a href="/users/sign_in">sign in</a> with the Google account you use for YouTube.</p>
</div>
