{{title "Privacy"}}

<SectionHeader>Privacy</SectionHeader>

<div class="message">
  <p>Your Google account's email address is stored for account management.</p>
  <p>Read-only access to your YouTube data is maintained only in order to keep your subscriptions in sync.</p>
  <p>Otherwise, the only data stored about you is which videos are currently in your feed.</p>
  <p>To have all of your data deleted, you currently must <a href="https://jakebarn.es/#contact">contact me</a> manually.</p>
</div>
