{{#portal-content for="menu-bar-extras"}}
  <a href="#" {{action 'refresh'}}><img src="/assets/images/refresh.png" alt="Refresh"></a>
{{/portal-content}}

{{display-section subscriptions=subscriptions items=items state='new'}}

{{display-section subscriptions=subscriptions items=items state='later'}}
