<h2>New Videos</h2>

{{#each subscriptions as |subscription|}}
  {{display-subscription subscription=subscription state='new'}}
{{/each}}

<h2>Watch Later</h2>

{{#each subscriptions as |subscription|}}
  {{display-subscription subscription=subscription state='later'}}
{{/each}}
