{{#portal-content for="menu-bar-extras"}}
  <a href="#" {{action 'refresh'}}><img src="/assets/images/refresh.png" alt="Refresh"></a>
{{/portal-content}}

{{#if newSubscriptions}}
  {{#section-header}}New Videos{{/section-header}}
  {{#each newSubscriptions as |subscription|}}
    {{display-subscription subscription=subscription items=subscription.newItems}}
  {{/each}}
{{/if}}

{{#if laterSubscriptions}}
  {{#section-header}}Watch Later{{/section-header}}
  {{#each laterSubscriptions as |subscription|}}
    {{display-subscription subscription=subscription items=subscription.laterItems}}
  {{/each}}
{{/if}}
